*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
.header{
  background: rgba(35,45,57,0.8);
  position: absolute;
  top: 0;
}
.nav{
  background: rgba(250,250,250,0.1);
  position: fixed;
  top: 0;
}
.text-color{
  color: #ed563b;
}
.signup-btn{
  background-color: #ed563b;
  margin-top: -12px;
}
.member-btn{
  background-color: #ed563b;
}
#myVideo{
  min-width: 100%;
  min-height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  object-fit: cover;
  z-index: -1;
}
/*scroll color change*/
.nav, .nav .text-white {
  transition: all 0.3s ease;
}
.affix.nav {
  background-color: #fff;
  box-shadow: 2px 2px 5px #9a9797;
}
.affix .text-white {
  color: #000;
}
/*end scroll color change*/
.begin-today{
  background-image: url("cta-bg.jpg");
  background-size: cover;
  height: 419px;
}
.schedule{
  background-image: url("schedule-bg.jpg");
}

.day:after{
  content: "/";
  margin-left: 10px;
  color: #fff;
}
.week ul li:hover{
  color: #ed563b;
  cursor: pointer;
}
.card-item{
   width: 22rem;
   height: 32rem;
}
.img{
   width: 290px;
   height: 220px;
}
.container-form{
   background-image: url("contact-bg.jpg");
   background-size: cover;
}
